# Unless explicitly stated otherwise all files in this repository are licensed
# under the Apache License Version 2.0.
# This product includes software developed at Datadog (https://www.datadoghq.com/).
# Copyright 2023 Datadog, Inc.

controller:
  enableSafeguards: false
  leaderElection: false
  resources: # resources assigned to the controller pod. may need to be increased when deploying to larger scale clusters
    cpu: 1
    memory: 1Gi

injector:
  labels:
    # If Datadog agent is installed, Datadog admission controller will inject some env vars automatically
    admission.datadoghq.com/enabled: "true"
